# Ignore all files without extension (thanks stackoverflow)
*
!*.*
!*/

.vscode/
*.dat

# Ignore text files, which is the file format gtfs uses for its static schedules.
# We don't want any gtfs files in the git because one: they are massive and two: you should download a relevant version from OVapi.
*.txt