:root {
    
    --station-height: 50px;

}


body {
    padding: 0;
    margin: 0;
    border: 0;

    font-family: Arial, Helvetica, sans-serif;
}

header {
    /* position: fixed; */
    background-color: #ddd;
    margin: 0;
    text-align: center;
    height: 25px;
    font-size: 25px;
    padding: 0;
    margin: 0;
    border: 0;
}

#timetable {
    position: fixed;
    background-color: #222;
    display: block;
    min-height: calc(100vh - 25px);
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
    overflow: scroll;
}

#names {
    height: 100%;
    width: 100%;
    position: fixed;
}

#names>div {
    box-sizing: border-box;
    
    height: var(--station-height);

    color: #ccc;
    padding-left: 10px;

    top: calc(var(--station-height) - 1em - 3px);
    position: relative;
    font-size: 20px;
}

#scroller {
    height: 100%;
    position: relative;
}

#stations {
    height: 100%;
    width: 100%;
    display: block;
    position:absolute;
}

#stations div {
    border-bottom: #333 solid 2px;
    height: var(--station-height);
}

#lines {
    position: relative;
}

.line {
    width: 0;
    border-right: 4px solid magenta;

    position: absolute;
}